* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

#landing_page1 {
    min-height: 98vh;
    border-bottom: 8px solid #222;

}

#back {
    object-fit: cover;
    height: 98vh;
    width: 100%;
    position: absolute;
    z-index: -2;
}

#overlap {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 98vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#navbar {
    display: flex;
    align-items: center;
    height: fit-content;
    z-index: 1;
}

.logo {
    object-fit: contain;
    height: 90px;
    margin-left: 2rem;
}


#btn {
    position: absolute;
    right: 5rem;

    #lang_btn {
        background-color: black;
        color: white;
        border: 1px solid #AAAAAA;
        padding: .5rem 1rem;
        font-size: 1em;
        border-radius: 3px;
        margin: 0 1.5rem;

        #lang_selection {
            background-color: #000000;
            border: none;
            color: #FFFFFF;
            outline: none;
        }
    }

    #sign_btn {
        background-color: #E50914;
        color: white;
        border: 1px solid #E50914;
        padding: .5rem 1rem;
        font-size: 1rem;
        border-radius: 3px;
        cursor: pointer;
    }
}

#container {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    text-align: center;

    h1 {
        font-size: 3rem;
    }

    h2 {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    p {
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }
}

.user_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 50%;

    input {
        padding: 1.5rem 1rem;
        width: 70%;
        font-size: 1rem;
        border-radius: 1px 0 0 1px;
        border: 1px solid #FFFFFF;
        outline: none;
    }

    button {
        background-color: #E50914;
        padding: 1.155rem 1rem;
        color: white;
        border: 1px solid #E50914;
        font-size: 1.625rem;
        font-weight: 500;
        border-radius: 0 1px 1px 0;
        cursor: pointer;

        &:hover {
            background-color: #ec0914;
        }
    }
}

.photo_container {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.tvphoto1 {
    width: 25rem;
    object-fit: cover;
    z-index: 2;
    position: absolute;
}

.tvphoto2 {
    border: none;
    height: 18.75rem;
    width: 24.625rem;
    object-fit: cover;
    z-index: 1;
}

.stranger_things {
    width: 25rem;
    object-fit: cover;
}

.rajma-chawal-img {
    width: 27rem;
    object-fit: cover;
}

.card-parent {
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    background-color: #000000;
    padding: 2rem 0;
    border-bottom: 8px solid #222;
    overflow: hidden;
    color: #FFFFFF;

    &>* {
        grid-column: 2/3;
    }
}

.our-card {
    color: #FFFFFF;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    min-height: 50vh;
    overflow: hidden;
}

.card {
    margin: 0 auto;

    h1 {
        font-size: 3.125rem;
        line-height: 1.1;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.625rem;
        font-weight: 400;
    }
}

.faq-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 8px solid #222;
    background-color: #000000;
    color: #FFFFFF;
    padding: 2rem;

    h1 {
        width: 100%;
        text-align: center;
        padding: 1rem;
        font-size: 3rem;
    }
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 60%;
    margin: 1rem;
    text-align: left;

    li {
        width: 100%;
        margin: .2rem 0;
    }
}

.faq-btn {
    background-color: #303030;
    color: #FFFFFF;
    border: none;
    padding: .8em 2.2em .8em 1.2em;
    font-size: 1.625rem;
    text-align: left;
    margin-bottom: 1px;
    list-style: none;
    cursor: pointer;
    user-select: none;
}

.faq-txt {
    margin-bottom: .5rem;
    background-color: #303030;
    font-size: 1.625rem;
    font-weight: 400;
    padding: .8em 2.2em .8em 1.2em;
    transition: all .3s ease-in;
}

.bottom-container {
    margin: 2rem;
    width: 60%;
    text-align: center;

    .user-box2 {
        display: flex;
    }

    input {
        padding: 1.5rem 1rem;
        font-size: 1.125rem;
        border-radius: 1px 0 0 1px;
        border: 1px solid #FFFFFF;
        outline: none;
        width: 80%;
    }

    button {
        background-color: #E50914;
        padding: 1.23rem 1rem;
        color: white;
        border: 1px solid #E50914;
        font-size: 1.625rem;
        font-weight: 500;
        border-radius: 0 1px 1px 0;
        cursor: pointer;

        &:hover {
            background-color: #ec0914;
        }
    }

    p {
        font-size: 1.125rem;
        margin: 1rem;
    }
}

@media only screen and (max-width: 948px) and (min-width: 240px) {
    #landing_page1 {
        min-height: 70vh;
    }

    #back {
        min-height: 70vh;
    }

    #overlap {
        min-height: 70vh;
    }

    #navbar {
        padding-top: 1rem;
    }

    .logo {
        height: 50px;
        margin-left: .7rem;
    }

    #btn {
        right: 1rem;

        #lang_btn {
            padding: .3rem .9rem;
            margin-right: .5rem;
        }

        #sign_btn {
            padding: .3rem .5rem;
            font-size: .9rem;
        }
    }

    .user_box {
        flex-direction: column;
        width: 100%;

        input {
            border-radius: 1px 1px;
            padding: .8rem .5rem;
            width: 100%;
        }

        button {
            padding: .5rem 1rem;
            margin-top: 1rem;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 1px;
        }
    }

    #container {
        display: grid;
        margin: 0 1rem;

        &>* {
            justify-self: center;
        }

        h1 {
            font-size: 1.8rem;
            font-weight: 600;
            width: 100%;
        }

        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1.1rem;
        }
    }

    .our-card {
        grid-template-columns: 1fr;
        text-align: center;
        max-height: 50vh;
    }

    .card {

        h1 {
            font-size: 1.625rem;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.125rem;
            font-weight: 400;
        }
    }

    .tvphoto1 {
        height: 15rem;
        width: 15rem;
    }

    .tvphoto2 {
        height: 12rem;
        width: 12rem;
        background-color: #000000;
    }

    .stranger_things {
        width: 15rem;
    }

    .rajma-chawal-img {
        width: 15rem;
    }

    .faq-section {
        padding: 2rem 0;

        h1 {
            font-size: 1.625rem;
        }

        ul {
            width: 100%;
        }
    }

    .faq-btn {
        font-size: 1.4rem;
    }

    .faq-txt {
        font-size: 1.4rem;
    }

    .bottom-container {
        width: 100%;

        h1 {
            font-size: 1.8rem;
            width: 100%;
        }

        p {
            font-weight: 500;
        }

        .user-box2 {
            flex-direction: column;
            align-items: center;
            width: 100%;

            input {
                border-radius: 1px 1px;
                padding: .8rem .5rem;
                width: 90%;
                font-size: .9rem;
            }

            button {
                border-radius: 1px 1px;
                padding: .5rem 1rem;
                margin-top: 2rem;
                font-size: 1rem;
                width: fit-content;
            }
        }
    }
}